.main {
    width: 100%;
    overflow: hidden;
}

.main_inner {
    width: 100%;
    height: calc(100vh - 60px);
    margin: auto;
    background: #FFFFFF;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}