.ideas {
    display: block;
    position: relative;
    margin-top: 20px;
    z-index: 100;

}

.ideas_inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
}

