.modal {
    cursor: pointer;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0, 0.6);
    overflow: auto;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 1200;
}

.modal.visible {
    display: block;
}

.modal_container {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

.modal_inner {
    cursor: default;
    width: 100%;
    height: auto;
    margin: 60px 0;
    background: #fafafa;
    border-radius: 2px;
    overflow: visible;
}