.lang {
    padding: 10px 15px;
    background: #fff;
    cursor: pointer;
    display: block;
    position: absolute;
    right: -40px;
    top: 70px;
}

.lang_inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}