.lang {

    cursor: pointer;
    display: block;
    position: fixed;
    left: 14%;
    top: 50%;
    z-index: 1000;
}

.lang_inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}