.footer_lang {
    display: block;
    text-decoration: none;
}

.footer_lang_inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer_lang_text {
    cursor: default;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #B1B1B1;
    transition: all .1s linear;
}

.footer_lang_reg {
    cursor: default;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #AEAEAE;
    margin-left: 5px;
    transition: all .1s linear;
}