.tooltip {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-bottom: 9.5px;
}

.tooltip_info {
    cursor: pointer;
    position: relative;
    opacity: 1;
    z-index: 400;
}

.tooltip_info::before {
    position: absolute;
    bottom: -10px;
    left: 15px;
    border-radius: 6px;
    content: attr(aria-label);
    padding: 5px 10px;
    text-transform: none;
    transition: all 0.1s ease;
    width: 160px;
    box-shadow: 0 8px 16px -4px rgba(51,51,51,.3);
    border: 2px solid #fff;
    background: rgba(255,255,255, 1);

}

.tooltip_info::before, .tooltip_info::after {
    color: #777;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
    opacity: 0;
    pointer-events: none;
    text-align: start;
}

.tooltip:hover .tooltip_info::before, .tooltip:hover .tooltip_info::after {
    opacity: 1;
    transition: all 0.1s ease;
    text-align: start;
}