.right_sidebar {
    width: 25%;
    display: block;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    margin-top: 75px;
    margin-bottom: 30px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.right_sidebar_details {
    width: 100%;
    max-width: 100%;
    padding: 10px 0;
}

.right_sidebar_details_inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}