.header {
    width: 100%;
    display: block;
    margin-bottom: 30px;
}

.header_inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header_img {
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    margin-right: 10px;
    text-align: center;
    border-radius: 50%;
}

.header_name {
    cursor: default;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: rgba(74, 74, 74, 1);
}

.header_route {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    padding: 3px 7px;
    border-radius: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.header_route.sell {
    background: #EF5351;
}

.header_route.buy {
    background: #26A79A;
}

.header_route_text {
    cursor: default;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.header_price {
    cursor: default;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #4a4a4a;
}

.header_price.sell {
    color: #EF5351;
}

.header_price.buy {
    color: #26A79A;
}