.flags_icon {
    width: 23px;
    height: 23px;
    border: 2px solid #dedede;
    border-radius: 50%;
    margin-top: -1px;
    transition: all .1s linear;
}

.flags_icon.active {
    width: 203px;
    height: 203px;
    /*border: 2px solid #cccccc;*/
    border: 5px solid #000;
}