.user {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
    transition: all .1s linear;
}

.user_name {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    background: none;
    outline: none;
    margin-right: 10px;
    transition: all .1s linear;
}

.user_icon {
    font-size: 15px;
    font-weight: 600;
    border-radius: 50%;
    background: #2da98c;
    color: #fff;
    padding: 2px 9px;
    border: 4px solid #fff;
    transition: all .2s linear;
}

.user:hover .user_icon {
    border: 4px solid #dcdcdc;
}
