/*Header*/
.header {
    width: 100%;
    height: 56px;
    background: #fff;
    border-bottom: 5px solid #f4f4f4;
    position: fixed;
    top: 0;
    z-index: 60000;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.header_inner {
    width: 100%;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    .header {
        /*background: #333;*/
    }
}