.main_content {
    width: 100%;
    min-height: 700px;
    padding-top: 30px;
    background: #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.main_content_margin {
    padding-left: 50px;
    padding-right: 50px;
    background: #fff;
}

.main_content_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}